@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Noto+Sans&display=swap');


@layer components {
    .blue-gradient-1 {
        background: linear-gradient(90deg, #008ac8 0%, #07a0e5 100%);
    }

    .dark-cta-button-default {
        background: #1f2937;
    }

    .dark-cta-button-hover {
        background: linear-gradient(94.42deg, #1f2937 3.25%, #0078ae 100.23%);
    }

    .dark-cta-button-click {
        background: linear-gradient(94.42deg, #1f2937 3.25%, #07a0e5 100.23%);
    }
}
